body
{
    overflow-x: hidden;
}

html
{
    scroll-behavior: smooth;
}

.avatar 
{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.heading
{
    background: #ccc;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.fabC, .fasC
{
    color: #d58388;
}

.navbarElements
{
    color: white !important;
}

.divShadow
{
    box-shadow: 0px 5px 20px #b4b4b4;
}

.avatarPerf 
{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.botonAdd
{
    position: fixed !important; 
    bottom: 0px !important; 
    right: 0px !important;
    color: white !important;
}

.botonUp
{
    position: fixed !important; 
    bottom: 80px !important; 
    right: 0px !important;
    color: white !important;
}

.indiceLateral
{
    color: #d58388 !important;
    font-size: 20px;
    font-weight: bold;
}

.indiceLateral::before
{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
}

.btn-circle.btn-xl 
{
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-danger
{
    background: #d58388;
    border: none !important;
}

.btn-circle 
{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btnVerMas
{
    border-radius: 20px !important;
}

.divGradient
{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

::selection
{
    background: #d64048;
    color: white;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb 
{
    background: #d64048; 
}

::-webkit-scrollbar-thumb:hover
{
    background: #b01e26; 
}